Repository PSauerborn/personal-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, unittests

lint:
  name: Run Alembic Formatting & Linting
  entry: make -C alembic lint
  language: system
  pass_filenames: false

unittests:
  name: Run API Unit Tests
  entry: make -C api run-tests
  language: system
  pass_filenames: false

Bugfix: fixed deployment CICD
  .github/workflows/deploy.yaml
Due: none

Bugfix: updated environment condition
  .github/workflows/deploy.yaml
Due: none

Feature: added PROD terraform configuration
  terraform/env/prod/.terraform.lock.hcl
  terraform/env/prod/main.tf
  terraform/env/prod/provider.tf
Due: lint

Feature: added global terraform layer
  .github/workflows/deploy.yaml
  .github/workflows/tests.yaml
  .github/workflows/tf-apply.yaml
  .github/workflows/tf-plan.yaml
  alembic/Makefile
  api/Makefile
  terraform/env/dev/main.tf
  terraform/env/global/.terraform.lock.hcl
  terraform/env/global/main.tf
  terraform/env/global/provider.tf
  terraform/env/prod/main.tf
  terraform/env/prod/provider.tf
  terraform/modules/global/main.tf
  terraform/modules/global/variables.tf
  terraform/modules/global/versions.tf
  terraform/modules/helm/values/personal_website_api.yaml
  terraform/modules/main/ecr.tf
  terraform/modules/main/helm.tf
  terraform/modules/main/k8s.tf
  terraform/modules/main/variables.tf
  terraform/modules/main/versions.tf
Due: lint, unittests

Bugfix: removed unnused needs in apply
  .github/workflows/tf-apply.yaml
Due: none

Bugfix: added TF plan for deployments
  .github/workflows/deploy.yaml
Due: none

Feature: added READMEs
  README.md
  alembic/README
  alembic/README.md
  api/README.md
  terraform/Makefile
  terraform/README.md
  terraform/TF_DOCS.md
Due: lint, unittests

Bugfix: fixed PROD ingress
  api/Makefile
  api/README.md
  terraform/modules/helm/values/personal_website_api.yaml
  terraform/modules/main/helm.tf
  terraform/modules/main/k8s.tf
Due: lint, unittests

Feature: added UI documentation
  api/README.md
  web/README.md
Due: lint, unittests

Feature: updated UI fonts + minor layout changes
  .github/workflows/tf-apply.yaml
  .github/workflows/tf-plan.yaml
  terraform/modules/main/helm.tf
  web/src/components/ProfilePageSection.vue
  web/src/components/SamplesPageSection.vue
  web/src/components/StackPageSection.vue
  web/src/components/TerminalHeader.vue
  web/src/css/app.scss
  web/src/css/fonts/Avenir-Medium.woff2
  web/src/css/fonts/Tanker-Regular.woff2
  web/src/css/quasar.variables.scss
  web/src/pages/IndexPage.vue
Due: lint

Feature: changed UI theme to light
  terraform/modules/main/helm.tf
  web/quasar.config.js
  web/src/components/AboutMePageSection.vue
  web/src/components/CVModal.vue
  web/src/components/ContactModal.vue
  web/src/components/ExperienceSection.vue
  web/src/components/PageHeader.vue
  web/src/components/PortfolioPageSection.vue
  web/src/components/ProfilePageSection.vue
  web/src/components/SamplesPageSection.vue
  web/src/components/StackPageSection.vue
  web/src/css/app.scss
  web/src/css/quasar.variables.scss
  web/src/layouts/MainLayout.vue
  web/src/pages/IndexPage.vue
Due: lint

Feature: improved terraform CICD setup
  .github/workflows/deploy.yaml
  .github/workflows/tests.yaml
  .github/workflows/tf-apply.yaml
  .github/workflows/tf-plan.yaml
  terraform/.gitignore
  terraform/env/dev/provider.tf
  terraform/env/dev/variables.tf
  terraform/env/global/provider.tf
  terraform/env/global/variables.tf
  terraform/env/prod/provider.tf
  terraform/env/prod/variables.tf
Due: lint

Feature: added data seeding
  .flake8
  .github/templates/k8s_seed_data.yaml
  .github/workflows/seed.yaml
  .github/workflows/tf-apply.yaml
  .github/workflows/tf-plan.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/.gitignore
  scripts/Makefile
  scripts/generate_seed_data/constants.py
  scripts/generate_seed_data/main.py
  scripts/generate_seed_data/models/__init__.py
  scripts/generate_seed_data/models/contact.py
  scripts/generate_seed_data/models/contact_request.py
  scripts/generate_seed_data/models/logged_request.py
  scripts/generate_seed_data/models/logged_response.py
  scripts/generate_seed_data/outputs/.gitignore
  scripts/generate_seed_data/seed_contact_requests.py
  scripts/generate_seed_data/seed_contacts.py
  scripts/generate_seed_data/seed_logged_requests.py
  scripts/generate_seed_data/seed_logged_responses.py
  scripts/generate_seed_data/utils.py
  scripts/load_seed_data/.build.env
  scripts/load_seed_data/Dockerfile
  scripts/load_seed_data/Makefile
  scripts/load_seed_data/README.md
  scripts/load_seed_data/data/contact_requests.sql
  scripts/load_seed_data/data/contacts.sql
  scripts/load_seed_data/data/logged_requests.sql
  scripts/load_seed_data/data/logged_responses.sql
  scripts/load_seed_data/load_seed_data.sh
  scripts/load_seed_data/main.py
  scripts/load_seed_data/requirements.txt
  terraform/modules/global/main.tf
Due: lint

Feature: added data seeding
  .github/workflows/integration-tests.yaml
  .github/workflows/post-merge.yaml
  .github/workflows/pre-merge.yaml
  manifests/load_seed_data.yaml
Due: none

Feature: added gherkin integration tests
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  acceptance/.build.env
  acceptance/Dockerfile
  acceptance/Makefile
  acceptance/README.md
  acceptance/admin_steps_test.go
  acceptance/common_steps_test.go
  acceptance/contacts_steps_test.go
  acceptance/default_steps_test.go
  acceptance/features/admin.feature
  acceptance/features/contacts.feature
  acceptance/features/default.feature
  acceptance/features/resume.feature
  acceptance/go.mod
  acceptance/go.sum
  acceptance/main_test.go
  acceptance/resume_steps_test.go
  acceptance/types_test.go
  api/db.go
  api/handlers.go
  api/openapi.yaml
  api/types.go
  terraform/modules/main/helm.tf
Due: lint, unittests

Feature: added CI/CD for integration tests
  .github/workflows/integration-tests.yaml
  .github/workflows/post-merge.yaml
Due: none

Bugfix: fixed ADMIN_API_KEY ref for tests
  .github/workflows/integration-tests.yaml
Due: none

Bugfix: fixed seeding command
  .github/workflows/integration-tests.yaml
Due: none

Feature: added controller pattern to API
  .pre-commit-config.yaml
  .secrets.baseline
  api/.build.env
  api/.gitignore
  api/Dockerfile
  api/Makefile
  api/config.go
  api/controller.go
  api/controller_test.go
  api/db.go
  api/db_test.go
  api/etc/config.yaml
  api/etc/resume.json
  api/go.mod
  api/handlers_test.go
  api/main.go
  api/main_test.go
  api/middleware.go
  api/tests/fixtures/api_keys.json
  api/tests/fixtures/contacts.json
  api/tests/fixtures/logged_requests.json
  api/tests/fixtures/logged_responses.json
  api/tests/fixtures/requests.json
  api/types.go
  api/utils.go
Due: lint, unittests

Hotfix: updated DB name for alembic migrations
  README.md
  infrastructure/manifests/load_seed_data.yaml
  infrastructure/terraform/TF_DOCS.md
  infrastructure/terraform/env/dev/provider.tf
  infrastructure/terraform/env/prod/provider.tf
  infrastructure/terraform/modules/main/k8s.tf
  scripts/load_seed_data/.build.env
  scripts/load_seed_data/Makefile
Due: none

Bugfix: added new URL for acceptance tests and fixed seed data loading manifest
  acceptance/Makefile
  acceptance/admin_steps_test.go
  acceptance/contacts_steps_test.go
  acceptance/default_steps_test.go
  acceptance/resume_steps_test.go
  acceptance/types_test.go
  infrastructure/manifests/load_seed_data.yaml
Due: none

Hotfix: updated setting of PG creds
  .github/workflows/post-merge.yaml
Due: none

Path conditions:
  lint: ((any of: ^api/) or (any of: ^terraform/)) or (any of: ^alembic/)
  unittests: any of: ^api/
